* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
}

.input {
    height: 28px;
    width: 350px;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
}

.submitButton {
    position: relative;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    background-size: cover;
    margin-left: 5px;
    margin-top: 5px;
}

body {
    min-height: 100vh;
    background-color: rgb(176, 201, 250);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}